[Unit]
Description=Sensoriando WebService Daemon
After=network.target

[Service]
ExecStart=@SENSORIANDO_WEBDIR/venv/bin/python3 @SENSORIANDO_WEBDIR/manager runserver 0.0.0.0:80
KillMode=process
Restart=always
user=root

[Install]
WantedBy=multi-user.target

