export DJANGO_PORT=8000
export DJANGO_PARAMS=""
export DJANGO_DEBUG="True"
export DJANGO_PREFIX_API="http://localhost:8000/api"

export POSTGRES_HOST=[domain/ip/container database]
export POSTGRES_USER=[username database]
export POSTGRES_PASSWORD=[password database]
export POSTGRES_DB=sensoriando
export POSTGRES_PORT=5432

