<!-- templates/base.html -->
<!DOCTYPE html>

<html lang="pt-br">
    <head>

{% block title %}
{% endblock %}

        <meta name="description" content="Canais públicos no Sensoriando. Sensoriando é um hug MQTT de sensores.">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap: BEGIN -->  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Bootstrap: END -->

<!-- Chart.js: BEGIN -->
	<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<!-- Chats.js: END -->

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/www">Sensoriando</a>
                </div>

{% block menu %}
{% endblock %}
    
                <ul class="nav navbar-nav navbar-right">

{% if user.is_authenticated %}
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
{% else %}
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Cadastrar</a></li>
    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
{% endif %}

                </ul>
            </div>
        </nav> 

{% block content %}
{% endblock %}
        
    </body>
</html>

