<!-- templates/home.html-->
{% extends 'common.html' %}

{% block title %}
<title> Web Service: Lista</title>
{% endblock %}

{% block menu %}

{% if user.is_authenticated %}
    <ul class="nav navbar-nav">

        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav-channels-after">Sensores<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="nav-my-channels" href="/home/private">Meus Sensores</a></li>
            <li><a id="nav-public-channels" href="/home">Sensores Públicos</a></li>
          </ul>
        </li>

        <li><a href="/map">Mapa</a></li>
    </ul>
{% else %}
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Sensores</a></li>
      <li><a href="/map">Mapa</a></li>
    </ul>
{% endif %}

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <h1>Sensores Públicos</h1>

<!-- Sensors list: BEGIN -->
{% for context in contexts %}

<div class="col-md-5 col-sm-6 col-xs-12" data-no-turbolink>
    <div class="panel panel-primary">
        <div class="panel-heading ellipsis">
          <i class="fa fa-bar-chart-o"></i>
          <a class="link-no-hover" href="sensor/{{ context.id }}"><b>{{ context.name }}</b></a>
        </div>
        
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-xs-6"><b>Cidade</b></div>
                <div class="col-sm-6 col-xs-6">
                    <a href="#">{{ context.city }}</a>
                    <a href="#">{{ context.state }}</a>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-6 col-xs-6"><b>País</b></div>
                <div class="col-sm-6 col-xs-6"><a href="#">{{ context.country }}</a></div>
            </div> 
 
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        
            <div class="public_channel_tags">
                <i class="fa fa-tags"></i>

                {% for sensor in context.sensors %}
                    <a href="#">{{ sensor.name }}</a>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-6"><b>Última leitura</b></div>
                <div class="col-sm-6 col-xs-6">{{ context.last_update }}</div>
            </div> 
 
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
       
            <div class="public_channel_tags">
                <i class="fa fa-tags"></i>
                
                {% for flag in context.flags %}
                    <a href="#">{{ flag.name }}</a>     
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endfor %}
<!-- Sensors list: END -->

        </div>
    </div>
</div>
{% endblock %}


