<!-- templates/home.html-->
{% extends 'common.html' %}

{% block title %}
<title> Web Service: Distribuição geográfica</title>
{% endblock %}

{% block menu %}
{% if user.is_authenticated %}
    <ul class="nav navbar-nav">

        <li class="desactive dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav-channels-after">Sensores<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="nav-my-channels" href="/home/private">Meus Sensores</a></li>
            <li><a id="nav-public-channels" href="/home">Sensores Públicos</a></li>
          </ul>
        </li>

        <li class="active"><a href="#">Mapa</a></li>
    </ul>
{% else %}
    <ul class="nav navbar-nav">
      <li><a href="/home">Sensores</a></li>
      <li class="active"><a href="#">Mapa</a></li>
    </ul>
{% endif %}
{% endblock %}


{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
<script>
    {% include "map_world.js" %}
</script>

<div class="container">
    <div class="row">
            <div id="regions_div" style="height: 500px;"></div>
   </div>
</div>

</div>

{% endblock %}
