<!-- templates/home.html-->
{% extends 'common.html' %}

 	
{% block title %}
<title> Web Service: Visualizar</title>
{% endblock %}

{% block menu %}
    <ul class="nav navbar-nav">
      <li><a href="home">Sensor</a></li>
      <li><a href="search">Pesquisar</a></li>
    </ul>
{% endblock %}

{% block content %}
<script>
    {% include context.chart_file %}
</script>

<div class="container">
    <h1 class="margin-left" id="channel-name-header">{{ context.thing }}</h1>
    
    <div class="row col-xs-12 col-sm-12" style="margin-bottom: 25px;">
        <div class="col-xs-6 col-sm-4">
            <ul class="no_bullets" id="table-channel-metadata">
                <li><b>Cidade: </b>{{ context.city }}/{{ context.state }}</li>
                <li><b>País:   </b>{{ context.country }}</li>
                <li><b>Acesso: </b>{{ context.access }}</li>
            </ul>
        </div>

        <div class="col-xs-6 col-sm-4" style="border-left: 1px solid #ccc;">
{% for sensor in context.sensors %}
                {{ sensor.name }}
{% endfor %}
            <br>

            <p id="channel-tags">
                <i class="fa fa-tags"></i>&nbsp;
{% for flag in context.flags %}
                {{ flag.name }}
{% endfor %}
            </p>

            <button type="button" data-toggle="modal" data-target="#devinfo_modal" class="btn btn-default btn-margin-bottom" id="channel-data-export-button">
                    <i class='fa fa-external-link-square timecontrol_index'></i>&nbsp;
                    Exportar dados recentes
             </button> 
        </div>
    </div>
    
<!--List Charts: BEGIN-->
{% for sensor in context.sensors %}
    <div class="col-md-5 col-sm-6 col-xs-12" data-no-turbolink>
        <div class="panel panel-primary">
            <div class="panel-heading ellipsis">
                <i class="fa fa-bar-chart-o"></i>
                <b>{{ sensor.name }}</b>
            </div>
        
            <div class="panel-body">
                <div class="row">
                    <canvas id="{{ context.canva }}{{ forloop.counter }}"></canvas>
                </div>        
            </div>
        </div>
    </div>
{% endfor %}
<!--List Charts: END-->

</div>

{% endblock %}

