<!-- templates/home.html-->
{% extends 'common.html' %}
{% load static %}

{% block title %}
<title> Web Service: Visualizar</title>
{% endblock %}

{% block menu %}
{% if user.is_authenticated %}
    <ul class="nav navbar-nav">

        <li class="desactive dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav-channels-after">Sensores<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="nav-my-channels" href="/home/private">Meus Sensores</a></li>
            <li><a id="nav-public-channels" href="/home">Sensores Públicos</a></li>
          </ul>
        </li>

        <li><a href="/map">Mapa</a></li>
    </ul>
{% else %}
    <ul class="nav navbar-nav">
      <li><a href="/home">Sensores</a></li>
      <li><a href="/map">Mapa</a></li>
    </ul>
{% endif %}
{% endblock %}

{% block content %}
<script type="text/javascript">
    {% include context.chart_file %}
</script>

<script type="text/javascript">
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    var cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    document.cookie = cookie;
}
</script>

<div class="container">
    <h1 class="margin-left" id="channel-name-header">{{ context.thing }}</h1>
    
    <div class="row col-xs-12 col-sm-12" style="margin-bottom: 25px;">
        <div class="col-xs-6 col-sm-4">
            <ul class="no_bullets" id="table-channel-metadata">
                <li><b>Cidade: </b>{{ context.city }}/{{ context.state }}</li>
                <li><b>País:   </b>{{ context.country }}</li>
                <li><b>Acesso: </b>{{ context.access }}</li>
            </ul>
        </div>

        <div class="col-xs-6 col-sm-4" style="border-left: 1px solid #ccc;">
            <i class="fa fa-dashboard"></i>&nbsp;
{% for detail in context.sensors %}
                {{ detail.sensor.name }}
{% endfor %}
            <br>

            <p id="channel-tags">
                <i class="fa fa-tags"></i>&nbsp;
{% for flag in context.tags %}
                {{ flag.name }}
{% endfor %}
            </p>
        
            <div class="dropdown">        
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Visualizar dados
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:setCookie('chartview','s',365);location.reload();">Segundos</a></li>
                    <li><a href="javascript:setCookie('chartview','m',365);location.reload();">Minutos</a></li>
                    <li><a href="javascript:setCookie('chartview','h',365);location.reload();">Horas</a></li>
                    <li><a href="javascript:setCookie('chartview','d',365);location.reload();">Dias</a></li>
                    <li><a href="javascript:setCookie('chartview','M',365);location.reload();">Meses</a></li>
                    <li><a href="javascript:setCookie('chartview','y',365);location.reload();">Anos</a></li>
                </ul>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class='fa fa-external-link-square'></i>&nbsp;
                    Exportar dados
                </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Exportar dados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div aria-hidden="true">&times;</div>
        </button>
      </div>
      <div class="modal-body">

          <table class="table table-striped" >
            <tr> 
             <th> {{ context.thing }} (todos sensores)</th>
             <th> <a target="_blank" href="#">CSV</a></th>
            </tr>

{% for detail in context.sensors %}
            <tr>
                <th> {{ detail.sensor.name }} </th>
                <th> <a target="_blank" href="#">CSV</a></th>
            </tr>
{% endfor %}
            
          </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


            </div>

        </div>
    </div>

  
<!--List Charts: BEGIN-->
{% for detail in context.sensors %}
    <div class="col-md-5 col-sm-6 col-xs-12" data-no-turbolink>
        <div class="panel panel-primary">
            <div class="panel-heading ellipsis">
                <i class="fa fa-bar-chart-o"></i>
                <b>{{ detail.sensor.name }}</b>
            </div>
        
            <div class="panel-body">
                <div class="row">
                    <canvas id="{{ context.canva }}{{ forloop.counter }}"></canvas>
                </div>        
            </div>
        </div>
    </div>
{% endfor %}
<!--List Charts: END-->

</div>

{% endblock %}

