<!-- templates/home.html-->
{% extends 'common.html' %}

{% block title %}
<title> Web Service: Conta</title>
{% endblock %}

{% block menu %}

{% if user.is_authenticated %}
    <ul class="nav navbar-nav">

        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav-channels-after">Sensores<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="nav-my-channels" href="/home/private">Meus Sensores</a></li>
            <li><a id="nav-public-channels" href="/home">Sensores Públicos</a></li>
          </ul>
        </li>

        <li><a href="/map">Mapa</a></li>
    </ul>
{% else %}
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Sensores</a></li>
      <li><a href="/map">Mapa</a></li>
    </ul>
{% endif %}

{% endblock %}


{% block content %}
<script type="text/javascript">
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));

    var expires = "expires=" + d.toGMTString();
    var cookie = cname + "=" + cvalue + ";" + expires + ";path=/";

    document.cookie = cookie;
}

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');

    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
    
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
    
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }

    return "";
}
</script>

<script type="text/javascript">
function getValue(combobox){
    var cb_name = combobox;
    var selectCtrl = document.getElementById(cb_name);
    var selectedItem =  selectCtrl.options[selectCtrl.selectedIndex];
 
    setCookie(cb_name, selectedItem.value, 365);
}    
</script>

<div class="container">
    <div class="row">
        <h1>Minha Conta</h1>

<ul class="nav nav-tabs">    
    <li {% if form.active == "profile" %}class="active"{% endif %}><a href="#profile" class="nav-link" data-toggle="tab">Perfil</a></li>
    <li {% if form.active == "things" %}class="active"{% endif %}><a href="#things" class="nav-link" data-toggle="tab">Centrais</a></li>
    <li {% if form.active == "sensors" %}class="active"{% endif %}><a href="#sensors" class="nav-link" data-toggle="tab">Sensores</a></li>
</ul>

<div class="tab-content">
    
    <div class={% if form.active == "profile" %}"tab-pane fade in active"{% else %}"tab-pane fade"{% endif %} id="profile">

<form method="post">
  {% csrf_token %}
  {{ form.user.as_p }}
  {{ form.profile.as_p }}
  <button name="profileform" type="submit">Alterar</button>
</form>
      
    </div>

    <div class={% if form.active == "things" %}"tab-pane fade in active"{% else %}"tab-pane fade"{% endif %} id="things">
 
<form method="post">
  {% csrf_token %}
  {{ form.thing.as_p }}
  <button name="thingform" type="submit">Adicionar</button>
</form>       

        <table class="table table-striped" >
            <tr>
                <th> Nome </th>
                <th> UUID </th>
                <th> Configurações </tr>
            </tr>

{% for thing in form.things %}
            <tr>
                <th> {{ thing.name }} </th>
                <th> {{ thing.uuid }} </th>
                <th>
                    <button name="thingparam{{ thing.id }}" type="button" disabled>Parâmetros</button> 
                </th>
                </th>
            </tr>
{% endfor %}
            
          </table>    
    </div>
    
    <div class={% if form.active == "sensors" %}"tab-pane fade in active"{% else %}"tab-pane fade"{% endif %} id="sensors">
        <table class="table table-striped" >
            <tr>
                <th> Sensores </th>
                <th> Unidade </th>
                <th> Precisão </th>
                <th> Exibição (Gráfico/Widget) </th>
                <th> Configuração </th>
            </tr>

{% for sensor in form.sensors %}
            <tr>
                <th> {{ sensor.name }} </th>

                <th>
                    <select name="unit{{ sensor.id }}" id="unit{{ sensor.id }}">
{% for unit in sensor.units %}
    {% if sensor.unitselect == None and unit.isdefault == True or sensor.unitselect == unit.id %}
    <option value={{ unit.id }} onclick="javascript:getValue('unit{{ sensor.id }}')" selected>{{ unit.name }} {% if unit.initial != None %}({{ unit.initial }}){% endif %}</option>
    {% else %}
    <option value={{ unit.id }} onclick="javascript:getValue('unit{{ sensor.id }}')">{{ unit.name }} {% if unit.initial != None %}({{ unit.initial }}){% endif %}</option>
    {% endif %} 
{% endfor %}
                    </select>

                </th>

                <th>
                    <select name="precision{{ sensor.id }}" id="precision{{ sensor.id }}">
{% for i in form.precision %}
    {% if sensor.precisionselect == i %}
                        <option value={{ i }} onclick="javascript:getValue('precision{{ sensor.id }}')" selected>{{ i }}</option>
    {% else %}
                        <option value={{ i }} onclick="javascript:getValue('precision{{ sensor.id }}')">{{ i }}</option>
    {% endif %}
{% endfor %}
                    </select>
                </th>

                <th>
                    <select name="chart{{ sensor.id }}" id="chart{{ sensor.id }}">
                        <option value="line" onclick="javascript:getValue('chart{{ sensor.id }}')" {% if sensor.chartselect == 'line' %} selected {% endif %}>Linha</option>
                        <option value="bar" onclick="javascript:getValue('chart{{ sensor.id }}')" {% if sensor.chartselect == 'bar' %} selected {% endif %}>Barra Vertical</option>
                        <option value="horizontalBar" onclick="javascript:getValue('chart{{ sensor.id }}')" {% if sensor.chartselect == 'horizontalBar' %} selected {% endif %}>Barra Horizontal</option>
                        <option value="pie" onclick="javascript:getValue('chart{{ sensor.id }}')" {% if sensor.chartselect == 'pie' %} selected {% endif %}>Pizza</option>
                        <option value="table" onclick="javascript:getValue('chart{{ sensor.id }}')" {% if sensor.chartselect == 'table' %} selected {% endif %}>Tabela</option>
                        <option value="display" onclick="javascript:getValue('chart{{ sensor.id }}')" {% if sensor.chartselect == 'display' %} selected {% endif %}>Display</option>
                    </select>
                </th>

                <th>
                    <button name="sensorparam{{ sensor.id }}" type="button" disabled>Parâmetros</button> 
                </th>
            </tr>
{% endfor %}
            
          </table>  
    </div>
</div>


    </div>
</div>

{% endblock %}


