<!DOCTYPE html>
{% load static %}

       <div class="wp-block-group alignfull has-no-underline is-layout-constrained wp-container-117 wp-block-group-is-layout-constrained" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <div class="wp-block-group alignfull gutenify-section-56ede331-2556-11ee-8dc3-89f12edb89a5 is-layout-flow wp-block-group-is-layout-flow">
               <div class="wp-block-cover alignfull is-light grayscale gutenify-section-56ede330-2556-11ee-8dc3-89f12edb89a5" style="padding-top:18vw;padding-right:30px;padding-bottom:18vw;padding-left:30px">
                  <span aria-hidden="true" class="wp-block-cover__background has-foreground-background-color has-background-dim"></span>
                  <img decoding="async" class="wp-block-cover__image-background wp-image-160" alt="" src="{% static "img/background.jpeg" %}" data-object-fit="cover"/>
               </div>
            </div>
        </div>
