<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
    <head>

{% block title %}
{% endblock %}

    <meta name="description" content="Sensoriando: Sensores públicos. Sensoriando é um hug MQTT de sensores.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Bootstrap CSS: BEGIN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" />
<!-- Bootstrap CSS: END -->

<!-- Chart.js: BEGIN -->
	<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<!-- Chats.js: END -->

    </head>

    <body>

<!-- Bootstrap JS: BEGIN -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Bootstrap JS: END -->

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/www">Sensoriando</a>
                </div>

{% block menu %}
{% endblock %}
    
                <ul class="nav navbar-nav navbar-right">

{% if user.is_authenticated %}
    <li><a href="/account/{{ user.username }}/profile"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
    <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
{% else %}
    <li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span>Cadastrar</a></li>
    <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
{% endif %}

                </ul>
            </div>
        </nav> 

{% block content %}
{% endblock %}
        
    </body>
</html>

