<footer class="wp-block-template-part">
        <div class="wp-block-group alignfull gutenify-section-44448f70-0451-11ee-8f66-976efd0e821b has-black-background-color has-white-color has-footer-copy-right-background-background-color has-text-color has-background has-link-color wp-elements-e255500f5f1f4a09c51047aec26068b0 is-layout-constrained wp-container-142 wp-block-group-is-layout-constrained" style="padding-top:4rem;padding-right:3rem;padding-bottom:4rem;padding-left:3rem">
        </div>
</footer>


