<!-- header.html: BEGIN -->
{% load static %}

<nav>
    <a href="/" class="font-27px">Sensoriando</a>
    
    <div class="dropdown">
        <img src="{% static "img/bars.svg" %}" alt="menu icon">
        
        <div class="dropdown-content">
            <a href="/map" class="font-16px">Mapa</a>
            <a href="/api" class="font-16px">API</a>

            {% if user.is_authenticated %}
                <a href="/users/account/{{ user.username }}/profile"><span class="glyphicon glyphicon-user"></span>{{ user.username }}</a>
                <button class="font-16px">
                <a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-out"></span>Sair</a>
                </button>

            {% else %}
                <a href="/users/signup"><span class="glyphicon glyphicon-user"></span>Cadastrar</a>
                
                <button class="font-16px">
                <a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span>Entrar</a>
                </button>
            {% endif %}

        </div>
    </div>
    
</nav>

<!-- header.html: END -->

