<div style="margin-top:0;padding-top:0;padding-right:5%;padding-left:5%">

    <div class="wp-block-group alignfull is-horizontal is-content-justification-space-between is-layout-flex wp-container-125 wp-block-group-is-layout-flex" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">

        <div class="wp-block-group mobile-aligncenter is-content-justification-center is-nowrap is-layout-flex wp-container-118 wp-block-group-is-layout-flex">
                     <h1 style="font-style:normal;font-weight:600;text-transform:capitalize;" class="has-text-color has-background-color wp-block-site-title has-medium-font-size"><a href="https://sensoriando.com.br" target="_self" rel="home" aria-current="page">Sensoriando</a></h1>
                  </div>

                  <div class="wp-block-group alignwide mobile-aligncenter is-layout-constrained wp-block-group-is-layout-constrained">
                     <div class="wp-block-group alignwide mobile-aligncenter is-layout-constrained wp-block-group-is-layout-constrained">
                        <div class="wp-block-group alignwide is-content-justification-center is-nowrap is-layout-flex wp-container-122 wp-block-group-is-layout-flex">
                           
                           <nav style="font-style:normal;font-weight:600;text-transform:capitalize;" class="has-text-color has-background-color has-small-font-size is-responsive items-justified-left alignwide has-left-submenu wp-block-navigation has-small-font-size is-horizontal is-content-justification-left is-layout-flex wp-container-120 wp-block-navigation-is-layout-flex" aria-label="Navigation" >
                          
                              <div class="wp-block-navigation__responsive-container  has-text-color has-foreground-color has-background has-background-background-color" style="" id="modal-119" >
                                 <div class="wp-block-navigation__responsive-close" tabindex="-1" data-micromodal-close>
                                    <div class="wp-block-navigation__responsive-dialog" aria-label="Menu" >

                                       <div class="wp-block-navigation__responsive-container-content" id="modal-119-content">
                                          <ul style="font-style:normal;font-weight:600;text-transform:capitalize;" class="wp-block-navigation__container has-text-color has-background-color has-small-font-size is-responsive items-justified-left alignwide has-left-submenu wp-block-navigation has-small-font-size">
                                             <li class="has-small-font-size wp-block-navigation-item wp-block-navigation-link"><a class="wp-block-navigation-item__content"  href="#"><span class="wp-block-navigation-item__label">Mapa</span></a></li>
                                          </ul>

                                          <ul style="font-style:normal;font-weight:600;text-transform:capitalize;" class="wp-block-navigation__container has-text-color has-background-color has-small-font-size is-responsive items-justified-left alignwide has-left-submenu wp-block-navigation has-small-font-size">
                                             <li class="has-small-font-size wp-block-navigation-item wp-block-navigation-link"><a class="wp-block-navigation-item__content"  href="#"><span class="wp-block-navigation-item__label">API</span></a></li>
                                          </ul>
                                          
                                          <ul style="font-style:normal;font-weight:600;text-transform:capitalize;" class="wp-block-navigation__container has-text-color has-background-color has-small-font-size is-responsive items-justified-left alignwide has-left-submenu wp-block-navigation has-small-font-size">
                                             <li class="has-small-font-size wp-block-navigation-item wp-block-navigation-link"><a class="wp-block-navigation-item__content"  href="#"><span class="wp-block-navigation-item__label">Cadastro</span></a></li>
                                          </ul>
                                       </div>

                                   </div>
                                 </div>
                              </div>
                           </nav>

                           <div class="wp-block-buttons is-content-justification-right is-nowrap is-layout-flex wp-container-121 wp-block-buttons-is-layout-flex" style="margin-top:0px">
                              <div class="wp-block-button has-custom-font-size is-style-outline has-small-font-size"><a class="wp-block-button__link has-background-color has-text-color wp-element-button" href="http://web.sensoriando.com.br">Entrar</a></div>
                           </div>

                        </div>
                     </div>
                  </div>
    </div>

</div>

