<!-- templates/home.html-->
{% extends 'common.html' %}

{% block title %}
<title> Web Service: Lista</title>
{% endblock %}

{% block content %}
<script type="text/javascript">
function clearFilter() {
    const jsonString = JSON.stringify('');
 
    var searchSensor = document.getElementById("SearchSensor");
    var searchTag = document.getElementById("SearchTag");

    searchSensor.selectedIndex = 0;
    searchTag.selectedIndex = 0;
    document.cookie = `setFilterHome = ${jsonString}; SameSite=None; secure=True`;
    
    location.reload();
}

function setFilter(key=null, value=null){
    var selectSensor = document.getElementById("SearchSensor");
    var selectTag = document.getElementById("SearchTag");
    var data = {};

    if ( selectSensor ) {
        var SensorItem = selectSensor.options[selectSensor.selectedIndex];
        if (SensorItem.value !== "") {
            data["sensor"] = SensorItem.value;
        }
    }

    if ( selectTag ) {
        var TagItem =  selectTag.options[selectTag.selectedIndex];
        if (TagItem.value !== "") {
            data["sensor_tag"] = TagItem.value;
        }
    }

    if ( key ) {
        data[key] = value;

        if ( key == "sensor" && selectSensor ) {
            selectSensor.value = value;
        }
    }

    if (Object.keys(data).length > 0) {
        const jsonString = JSON.stringify(data);

        document.cookie = `setFilterHome = ${jsonString}; SameSite=None; secure=True`;
        location.reload();
    }
}    
</script>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">

{% if request.path == '/home/private' %} 
            <h1>Meus Sensores</h1>
{% else %}
            <h1>Sensores Públicos</h1>
{% endif %}

<!-- Print filter apply -->
            <p>
            {% for key, value in contexts.filterApply.items %}
                {{value}} {%if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>

<!-- Sensors list: BEGIN class="link-no-hover"-->
{% for context in contexts.things %}

<div class="col-md-5 col-sm-6 col-xs-12" data-turbolink="false">
    <div class="panel panel-primary">
        <div class="panel-heading ellipsis">
          <i class="fa fa-bar-chart-o"></i>
          <a class="bg-info text-info" href="/thing/detail/{{ context.uuid }}"><b>{{ context.thing }}</b></a>
        </div>
        
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-xs-6"><b>Cidade</b></div>
                <div class="col-sm-6 col-xs-6">
                    <a href="#" onclick="setFilter('city', '{{ context.account.city }}');">{{ context.account.city }}</a> /
                    <a href="#" onclick="setFilter('state', '{{ context.account.state }}');">{{ context.account.state }}</a>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-6 col-xs-6"><b>País</b></div>
                <div class="col-sm-6 col-xs-6"><a href="#" onclick="setFilter('country', '{{ context.account.country }}');">{{ context.account.country }}</a></div>
            </div> 
 
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        
            <div class="public_channel_tags">
                <i class="fa fa-dashboard"></i>

                {% for sensor in context.sensors %}
                    <a href="#" onclick="setFilter('sensor', '{{ sensor.name }}');">{{ sensor.name }}</a>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-6"><b>Última leitura</b></div>
                <div class="col-sm-6 col-xs-6">{{ context.lastupdate }}</div>
            </div> 
 
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
       
            <div class="public_channel_tags">
                <i class="fa fa-tags"></i>
                
                {% for tag in context.thingtags %}
                    <a href="#" onclick="setFilter('thing_tag', '{{ tag.name }}');">{{ tag.name }}</a>     
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endfor %}
<!-- Sensors list: END -->


        </div>

{% if request.path == '/home/private' %} 
  <div class="col-xs-12 col-sm-3">

      <h1>Indicadores</h1>

      <div class="col-pad">

          <div class="form-group">
              <label>Plano: </label> {{ contexts.stats.plan }} <br>
              <label>Total de Registros: </label> {{ contexts.stats.records }} {{ contexts.stats.record_unit }} <br>
              <label>Retencao: </label> {{ contexts.stats.retation_current }} de {{ contexts.stats.retation_full }} {{ contexts.stats.retation_unit }}
          </div>

      </div>
  </div>
{% else %}

    <div class="col-xs-12 col-sm-3">

      <h1>Filtros</h1>

      <div class="col-pad">

          <div class="form-group">
            <label for="tag_input"><i class="fa fa-dashboard"></i>&nbsp;</label>
 
            <select name="SearchSensor" id="SearchSensor">
                <option value="" selected>Todos sensores</option>
                {% for sensor in contexts.filters.sensors %}
                <option value={{ sensor.name }}>{{ sensor.name }}</option>
                {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="tag_input"><i class="fa fa-tags"></i>&nbsp;</label>
 
            <select name="SearchTag" id="SearchTag">
                <option value="" selected>Todas tags</option>
                {% for tag in contexts.filters.tags %}
                <option value={{ tag.name }}>{{ tag.name }}</option>
                {% endfor %}
            </select>
          </div>

          <button type="button" id="search" onclick="setFilter();" class="btn btn-primary btn-sm">Aplicar</button>
          <button type="reset" id="clear" onclick="clearFilter();" class="btn btn-primary btn-sm">Limpar</button>

      </div>
  </div>
{% endif %}

    </div>

</div>
{% endblock %}


