<!-- templates/home.html-->
{% extends 'common.html' %}
{% load static %}

{% block title %}
<title> Web Service: Visualizar</title>
{% endblock %}

{% block content %}
<script type="text/javascript">
    {% include context.chart_file %}
</script>

<script type="text/javascript">
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    var cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    document.cookie = cookie;
}
</script>

<div class="container">
    <h1 class="margin-left" id="channel-name-header">{{ context.thing }}</h1>
    
    <div class="row col-xs-12 col-sm-12" style="margin-bottom: 25px;">
        <div class="col-xs-6 col-sm-4">
            <ul class="no_bullets" id="table-channel-metadata">
                <li><b>Cidade: </b>{{ context.city }}/{{ context.state }}</li>
                <li><b>Pais:   </b>{{ context.country }}</li>
            </ul>
        </div>

        <div class="col-xs-6 col-sm-4" style="border-left: 1px solid #ccc;">
            <i class="fa fa-dashboard"></i>&nbsp;
{% for sensor in context.sensors %}
                {{ sensor.name }}
{% endfor %}
            <br>

            <p id="channel-tags">
                <i class="fa fa-tags"></i>&nbsp;
{% for tag in context.thing_tags %}
                {{ tag }}
{% endfor %}
            </p>
        
            <div class="dropdown">        
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Visualizar dados
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:setCookie('chartview','second',365);location.reload();">Segundos</a></li>
                    <li><a href="javascript:setCookie('chartview','minute',365);location.reload();">Minutos</a></li>
                    <li><a href="javascript:setCookie('chartview','hour',365);location.reload();">Horas</a></li>
                    <li><a href="javascript:setCookie('chartview','day',365);location.reload();">Dias</a></li>
                    <li><a href="javascript:setCookie('chartview','month',365);location.reload();">Meses</a></li>
                    <li><a href="javascript:setCookie('chartview','year',365);location.reload();">Anos</a></li>
                </ul>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class='fa fa-external-link-square'></i>&nbsp;
                    Exportar dados
                </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Exportar dados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div aria-hidden="true">&times;</div>
        </button>
      </div>
      <div class="modal-body">

          <table class="table table-striped" >
            <tr> 
             <th> {{ context.thing }} (todos sensores)</th>
             <th> <a target="_blank" href="#">CSV</a></th>
            </tr>

{% for detail in context.sensors %}
            <tr>
                <th> {{ detail.name }} </th>
                <th> <a target="_blank" href="#">CSV</a></th>
            </tr>
{% endfor %}
            
          </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


            </div>

        </div>
    </div>

  
<!--List Charts: BEGIN-->
{% for detail in context.sensors %}
    <div class="col-md-5 col-sm-6 col-xs-12" data-no-turbolink>
        <div class="panel panel-primary">
            <div class="panel-heading ellipsis">
                <i class="fa fa-bar-chart-o"></i>
                <b>{{ detail.name }}</b>
            </div>

            <div class="panel-body">
                <div class="row">
{% if detail.type == 'table' %}         
                    <table height=201 width=100% class="table table-striped">
                        <tr>
                        <th> Data </th>
                        <th> Mensagem </th>
                        </tr>

    {% for tablelist in detail.data %}
                            <tr>
                                <th>{{ tablelist.dtread }}</th>
                                <th>{{ tablelist.message }}</th>
                            </tr>
    {% endfor %}
                    </table>
{% elif detail.type == 'display' %}
                    <table height=201 width=100% class="table table-striped">
                        <tr>
                            <th> {{ detail.unit.name }} </th>
                            <th> {{ context.title }} </th>
                        </tr>

                        <tr>
    {% for displaylist in detail.data %}
        <th> <font size="20"> {{ displaylist.group_value }}</font> {{ detail.unit.initial }} </th>
    {% endfor %}
                        </tr>
                        <tr>
                            <th> {{ detail.lastdatum }}</th>
                        </tr>
                    </table>   
{% else %}
                    <canvas id="{{ context.canva }}{{ forloop.counter }}"></canvas>
{% endif %}
               </div>        
            </div>
       </div>
    </div>
{% endfor %}
<!--List Charts: END-->

</div>

{% endblock %}

